* {
	-fx-primary-color: #292828;
	-fx-secondary-color: #333232;
	-fx-text-color: #f0fbff;

	-fx-focus-color: -fx-secondary-color;
}
VBox {
 	-fx-background-color: -fx-secondary-color;
 	-fx-background-radius: 0;
}
.tab-pane {
    -fx-tab-min-width:90px;
}
.tab-header-area .tab-header-background {
 	-fx-background-color: -fx-secondary-color;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-radius: 0 ;
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 ;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: -fx-primary-color;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.menu-bar{
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0 ;
}
.menu{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}
.context-menu {
    -fx-background-color: -fx-secondary-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}
.menu:hover{
    -fx-background-color: -fx-primary-color;
}
.menu .label{
    -fx-text-fill: #FFFFFF;
}

.menu-item {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0 ;
}
.menu-item:hover {
    -fx-background-color: -fx-primary-color;
}
.list-cell {
    -fx-text-fill: white;
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.split-pane {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0 ;
}
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0 ;
}
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: -fx-text-color;
    -fx-display-caret:true;
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 0 ;
}
.text-area .content{
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0 ;
}